# Database
MONGODB_URI=
PORT=
CORS_ORIGIN=*

# AccessToken
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=

# RefreshToken
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
